<h1>{{post.title}}</h1>
<h3>{{post.date}}</h3>
<p>{{post.author}}</p>
<p>{{post.body}}</p>
<p><img src={{post.image}} alt={{post.title}}></p>
<h2> Reviews </h2>
<ul>
  {{#each post.reviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
</ul>
<button {{action 'delete' post}}>Delete</button>
